main {
  /* width: 100vw; */
  /* height: 100vh; */
  width: 100%;
  height: 100%;
  font-size: larger;
  color: black;
  font-family: "Segoe UI", Roboto, Open Sans, sans-serif;
  background-image: url(./img/person-front-computer-working-html.jpg);
  background-size: cover;
}

.slides {
  text-align: center;
  /* color: #000000; */
  background-color: rgb(206, 133, 133);
  /* display: none; */
  /* visibility: hidden; */
}

ul {
  list-style: none;
}
